[Desktop Entry]
Type=Application
Name=LightOS First Boot
Comment=Применение темы и обоев при первом входе
Exec=lightos-firstboot
Icon=lightos-logo
Hidden=false
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=2